*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#divInput{
    /* display: none; */
    position: relative;
    left: 10px;
    margin: 10px 0;
}
input{
    margin-right: 5px;
}
button{
    border: 1px solid black;
    padding: 2px 6px;
    border-radius: 5px;
}
#divPixel{
    display: grid;
    background-color: black;
    /* width: 40px; */
    /* grid-template-columns: 10px 10px 10px 10px; */
    /* grid-template-rows: 10px 10px 10px 10px; */
    /* column-gap: 10px; */
    /* row-gap: 10px; */
    margin: 0;
    /* height: 40px; */
    
}
